<!-- 
  Create tabs with an icon and label, using the tabs-positive style. 
  Each tab's child <ion-nav-view> directive will have its own 
  navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-positive tabs-icon-only">


  <!-- Meters Tab -->
  <ion-tab title="Meters" icon="icon ion-gear-b" href="#/tab/meter">
    <ion-nav-view name="tab-meter"></ion-nav-view>
  </ion-tab>

  <!-- About Tab -->
  <ion-tab title="Buildings" icon="icon ion-home" href="#/tab/building">
    <ion-nav-view name="tab-building"></ion-nav-view>
  </ion-tab>


</ion-tabs>
