/* Empty. Add your own CSS if you like */
.width-80px{
    width: 80px;
    display: inline-block;
}

.details {
    padding: 0px 12px 20px 12px;
}

.details img {
    float: left;
    margin-right: 12px;
}

.item-button-right, a.item.item-button-right, button.item.item-button-right{
  padding-right:0px !important;
}
#delta_info {
	width: 60px;
	text-align: center;
}


