<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <connectionStrings>
    <add name="WattAppContext" connectionString="Data Source=(localdb)\v11.0; Initial Catalog=WattAppDBLocalDev1; Integrated Security=True;" providerName="System.Data.SqlClient" />
    <add name="AzureJobsDashboard" connectionString="" />
    <add name="AzureJobsStorage" connectionString="" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
  </startup>
  <appSettings>
    <add key="LOGENTRIES_TOKEN" value="" />
    <add key="JciClientId" value="" />
    <add key="JciClientSecret" value="" />
    <add key="JciTokenEndpoint" value="https://mypanoptix.johnsoncontrols.com/identity/issue/oauth2/token" />
    <add key="JciBuildingApiEndpoint" value="https://api.panoptix.com/" />
    <!--DISCOVERY Settings-->
    <add key="DISCOVERY_ELETRIC_METER" value="ElectricMeter" />
    <add key="DISCOVERY_SUPPORTED_DEMAND_TYPE" value="InstantaneousDemand,IntervalDemand" />
    <add key="DISCOVERY_SUPPORTED_DEMAND" value="Demand" />
  </appSettings>
  <system.net>
    <defaultProxy enabled="true" useDefaultCredentials="true">
      <proxy />
      <bypasslist />
      <module />
    </defaultProxy>
  </system.net>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="NLog" publicKeyToken="5120e14c03d0593c" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.0.0" newVersion="3.1.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <nlog>
    <extensions>
      <add assembly="LogentriesNLog" />
    </extensions>
    <targets>
      <target name="logentries" type="Logentries" debug="true" httpPut="false" ssl="false" layout="${date:format=ddd MMM dd} ${time:format=HH:mm:ss} ${date:format=zzz yyyy} ${logger} : ${LEVEL}, ${message}" />
      <target name="debugger" type="Debugger" layout="${logger}::${message}" />
    </targets>
    <rules>
      <logger name="*" minLevel="Debug" appendTo="logentries" />
      <logger name="*" minlevel="Trace" writeTo="debugger" />
    </rules>
  </nlog>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>