<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --></configSections>
  <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
    </startup>
  <connectionStrings>
   <add name="WattAppContext" connectionString="Data Source=(localdb)\v11.0; Initial Catalog=WattAppDBLocalDev1; Integrated Security=True;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <!--API Settings-->
    <!--PROD Settings-->
    <add key="LOGENTRIES_TOKEN" value="" />
    <add key="JciClientId" value="" />
    <add key="JciClientSecret" value="" />
    <add key="JciTokenEndpoint" value="https://mypanoptix.johnsoncontrols.com/identity/issue/oauth2/token" />
    <add key="JciBuildingApiEndpoint" value="https://api.panoptix.com/" />

    <!--DISCOVERY Settings-->
    <add key="DISCOVERY_ELETRIC_METER" value="ElectricMeter" />
    <add key="DISCOVERY_SUPPORTED_DEMAND_TYPE" value="InstantaneousDemand,IntervalDemand" />
    <add key="DISCOVERY_SUPPORTED_DEMAND" value="Demand" />
    <add key="DEFAULT_BACKFILL_TIME_HOURS" value="240" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="NLog" publicKeyToken="5120e14c03d0593c" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.0.0" newVersion="3.1.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <nlog>
    <extensions>
      <add assembly="LogentriesNLog" />
    </extensions>
    <targets>
      <target name="logentries" type="Logentries" debug="true" httpPut="false" ssl="false" layout="${date:format=ddd MMM dd} ${time:format=HH:mm:ss} ${date:format=zzz yyyy} ${logger} : ${LEVEL}, ${message}" />
      <target name="debugger" type="Debugger" layout="${logger}::${message}" />
    </targets>
    <rules>
      <logger name="*" minLevel="Debug" appendTo="logentries" />
      <logger name="*" minlevel="Trace" writeTo="debugger" />
    </rules>
  </nlog>
</configuration>
