/* Empty. Add your own CSS if you like */
.width-80px{
    width: 80px;
    display: inline-block;
}

.details {
    padding: 0px 12px 20px 12px;
}

.details img {
    float: left;
    margin-right: 12px;
}

#delta_info {
	float: right;
	width: 50px;
}

